<template>
  <div class="card">
    <div class="card-header" v-if="$slots.title">
      <slot name="title"></slot>
    </div>
    <div class="card-body">
      <div class="row mb-3">
        <div class="col-md-12">
          <div class="form-inline justify-content-end">
            <div class="form-group">
              <data-search v-model="searchTerm"></data-search>
            </div>
          </div>
        </div>
      </div>

      <app-alert
        message="No records found!"
        type="danger"
        v-if="!records.length"
      >
        <i class="fa fa-exclamation-triangle"></i>
      </app-alert>

      <table v-else class="table table-striped table-hover">
        <thead>
          <slot name="head" :sort="sorting" :sortable="sortable"></slot>
        </thead>
        <tbody>
          <slot name="body" :records="recordsPaginated"></slot>
        </tbody>
      </table>
    </div>
    <div class="card-footer">
      <data-pagination
        :total-rows="records.length"
        :per-page="perPage"
        v-model="currentPage"
        position="right"
      ></data-pagination>
    </div>
  </div>
</template>

<script>
import DataSearch from "./DataSearch.vue";
import DataPagination from "./DataPagination.vue";

export default {
  props: {
    searchKey: {
      type: String,
      default: "name",
    },
    sortKey: {
      type: String,
      default: "name",
    },
    source: {
      type: [String, Array],
      required: true,
    },
    perPage: {
      type: Number,
      default: 10,
    },
  },
  components: {
    DataSearch,
    DataPagination,
  },
  created() {
    console.log(this.$slots);
  },
  data() {
    return {
      records: [],
      searchTerm: "",
      sort: {
        by: this.sortKey,
        dir: 1,
      },
      currentPage: 1,
    };
  },
  computed: {
    recordsFiltered() {
      if (!this.searchTerm) {
        return this.records;
      }

      return this.records.filter((record) =>
        record[this.searchKey].match(new RegExp(this.searchTerm, "i"))
      );
    },

    recordsSorted() {
      return this.recordsFiltered.sort((a, b) => {
        const left = a[this.sort.by],
          right = b[this.sort.by];

        if (left < right) return -1 * this.sort.dir;
        else if (left > right) return 1 * this.sort.dir;
        else return 0;
      });
    },

    recordsPaginated() {
      let pages = Math.ceil(this.records.length / this.perPage);
      let from = (this.currentPage - 1) * this.perPage; // 0
      let to =
        (this.currentPage === pages
          ? this.records.length
          : from + this.perPage) - 1;
      return this.recordsSorted.slice(from, to + 1);
    },

    sortType() {
      return this.sort.dir === 1 ? "ascending" : "descending";
    },
  },
  methods: {
    fetchData() {
      if (Array.isArray(this.source)) {
        this.records = this.source;
      }
    },
    sorting(column) {
      this.sort.by = column;
      this.sort.dir = this.sort.dir * -1;
    },

    sortable(column) {
      return ["sort-control", column === this.sort.by ? this.sortType : ""];
    },
  },
  mounted() {
    this.fetchData();
  },
};
</script>
