<template>
  <nav>
    <ul class="pagination" :class="positionClass">
      <li class="page-item" :class="{ disabled: isFirstPage }">
        <a class="page-link" href="#" @click.prevent="prev">Previous</a>
      </li>
      <li
        class="page-item"
        :class="{ active: currentPage === page }"
        v-for="page in pages"
        :key="`page-${page}`"
      >
        <a class="page-link" href="#" @click.prevent="switchPage(page)">{{
          page
        }}</a>
      </li>
      <li class="page-item" :class="{ disabled: isLastPage }">
        <a class="page-link" href="#" @click.prevent="next">Next</a>
      </li>
    </ul>
  </nav>
</template>

<script>
export default {
  props: {
    totalRows: {
      type: Number,
      required: true,
    },
    perPage: {
      type: Number,
      default: 5,
    },
    modelValue: {
      // current page
      type: Number,
      default: 1,
    },
    position: {
      type: String,
      default: "",
      validator: function (value) {
        return ["left", "right", "center"].indexOf(value) !== -1;
      },
    },
  },

  computed: {
    positionClass() {
      const posOptions = {
        left: "",
        right: "justify-content-end",
        center: "justify-content-center",
      };
      return posOptions[this.position] || "";
    },
    pages() {
      return Math.ceil(this.totalRows / this.perPage);
    },

    isFirstPage() {
      return this.currentPage === 1;
    },

    isLastPage() {
      return this.currentPage >= this.pages;
    },
  },

  data() {
    return {
      currentPage: this.modelValue,
    };
  },
  emits: ["update:modelValue"],
  watch: {
    currentPage(val) {
      this.$emit("update:modelValue", val);
    },
  },
  methods: {
    prev() {
      if (!this.isFirstPage) {
        this.currentPage--;
      }
    },
    next() {
      if (!this.isLastPage) {
        this.currentPage++;
      }
    },
    switchPage(page) {
      this.currentPage = page;
    },
  },
};
</script>
